{% render 'partials/head.liquid' titel:"Contact" %}

<img class="element-amber-left" src="assets/images/background-element-left-1.jpg" alt="">

<section class="error width-top-btm">
    <img src="/assets/error-icon.svg" alt="" width="100px">

    <h1>Oeps 404 error</h1>
    <p>De pagina die je probeert te bereiken bestaat niet of is nog in ontwikkeling. Navigeer terug naar de homepagina.</p>

    <a class="btn-red" href="/">Terug naar home</a>
</section>

{% render 'partials/foot.liquid' %}