{% render 'partials/head.liquid' titel:"Digital Garden" %}

<img class="element-amber-left" src="assets/images/background-element-left-1.jpg" alt="">

<section class="hero-digital-garden width-top">
    <h1>Digital Garden</h1>
    <p>Hier laat ik verschillende experimenten zien die ik tijdens projecten heb ontwikkeld en laat ik code zien die
        handig is te gebruiken in meerdere projecten.
    </p>
</section>

<form class="width-top" action="#">
    <input class="search" id="searchbar" type="search" placeholder="Zoek hier een experiment..">
</form>

<div class="experimenten width-top-btm">
    <div class="wrapper-experimenten">

        <!-- Experiment 1 -->
        <a class="experiment" target="_blank" href="https://codepen.io/Amber-Schalker/pen/PwYBxXP">
            <section class="info">
                <h2>Toevoegen aan winkelwagen animatie</h2>
                <p class="date-day"><img src="/assets/icons/calendar-icon.svg" alt="">12 januari 2025</p>
            </section>
            <div class="btn-arrow-red">
                <img src="./assets/icons/arrow-right-white.svg" alt="">
            </div>
        </a>

        <!-- Experiment 2 -->
        <a class="experiment" target="_blank" href="https://codepen.io/Amber-Schalker/pen/XJroaZz">
            <section class="info">
                <h2>Werkende zoekbalk functie</h2>
                <p class="date-day"><img src="/assets/icons/calendar-icon.svg" alt="">30 januari 2025</p>
            </section>
            <div class="btn-arrow-red">
                <img src="./assets/icons/arrow-right-white.svg" alt="">
            </div>
        </a>

        <!-- Experiment 3 -->
        <a class="experiment" target="_blank" href="https://codepen.io/Amber-Schalker/pen/EaYVBQE">
            <section class="info">
                <h2>Pop up animatie met JS</h2>
                <p class="date-day"><img src="/assets/icons/calendar-icon.svg" alt="">18 december 2024</p>
            </section>
            <div class="btn-arrow-red">
                <img src="./assets/icons/arrow-right-white.svg" alt="">
            </div>
        </a>

        <!-- Experiment 4 -->
        <a class="experiment" href="https://codepen.io/Amber-Schalker/pen/MWMLMbW">
            <section class="info">
                <h2>Responsive grid oefening</h2>
                <p class="date-day"><img src="/assets/icons/calendar-icon.svg" alt="">22 September
                    2024</p>
            </section>
            <div class="btn-arrow-red">
                <img src="./assets/icons/arrow-right-white.svg" alt="">
            </div>
        </a>

    </div>
</div>

{% render 'partials/foot.liquid' %}