.hero-daily-journal {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-bottom: 2em;
    align-items: center;
    z-index: 98;

    p {
        width: 100%;
        text-align: center;

        @media screen and (min-width: 740px) {
            width: 40em;
        }
    }
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    justify-content: center;
    padding: 2em;

    li {
        list-style-type: none;
        display: flex;

        a {
            font-family: 'Barlow-regular';
            color: var(--highlight-color);
            background-color: var(--primary-background-color);
            padding: 0.8em 1.5em 0.8em 1.5em;
            border-radius: var(--rounded-btn);
            border: 1px solid var(--highlight-color);

            &:hover {
                color: var(--secondary-text-color);
                background-color: var(--highlight-color);
            }
        }
    }
}

a.active {
    color: var(--secondary-text-color) !important;
    background-color: var(--highlight-color) !important;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1em;

    @media screen and (min-width: 740px) {
        flex-direction: row;
    }

    .week-links {
        padding: 2.5em 2.5em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        height: max-content;

        @media screen and (min-width: 1020px) {
            width: 23em;
            position: sticky;
            top: 7em;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: .5em;

            li {
                list-style-type: none;

                a {
                    color: #fff;
                }
            }
        }
    }

    .week {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;

        @media screen and (min-width: 740px) {
            width: 70%;
        }

        .day {
            border: 1px solid #8B1839;
            padding: 2em;
            display: flex;
            flex-direction: column;
            gap: 1em;

            @media screen and (min-width: 740px) {
                margin-top: 0em;
            }

            .markdown-body {
                display: flex;
                flex-direction: column;
                gap: 1em;
            }

            h2 {
                font-size: clamp(2.5rem, 1.829vw + 2.18rem, 2.375rem);
            }

            h3 {
                font-size: clamp(1.25rem, 0.61vw + 1.143rem, 1.375rem);
            }

            img {
                width: 100%;
                height: auto;

                @media screen and (min-width: 740px) {
                    width: 45%;
                    height: auto;
                }
            }

            li {
                font-family: 'Barlow-regular';
                color: var(--primary-text-color);
                font-size: 16px;
            }

            a {
                word-break: break-word;
            }

            ol {
                display: flex;
                flex-direction: column;
                gap: .7em;
            }
        }
    }
}