* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/* Navigatie + menu items */
.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--text-darkgreen);
    padding: 15px 0;
    transition: top 0.3s;
    position:sticky;
    overflow: hidden;
    z-index: 99;
    border-bottom: 1px solid var(--line-gray);
    width: 95%;
    align-self: center;

    @media screen and (min-width: 740px) {
        padding: 1em 0em;
    }

    @media screen and (min-width: 1000px) {
        padding: 1em 0em;
    }

    @media screen and (min-width: 1200px) {
        padding: 1em 0em;
    }
}

.logo-header {
    width: 50%;

    @media screen and (min-width: 740px) {
        width: 50%;
    }

    @media screen and (min-width: 1000px) {
        width: 30%;
    }
}

.nav-header {
    width: 20%;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 740px) {
        width: 40%;
        justify-content: flex-start
    }

    @media screen and (min-width: 1000px) {
        width: 60%;
        justify-content: center;
    }
}

.btn-header {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    gap: 0.7em;

    @media screen and (min-width: 740px) {
        width: 60%;
    }

    @media screen and (min-width: 1000px) {
        width: 40%;
    }
}

.wrapper-header {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    gap: 0.5em;

    @media screen and (min-width: 740px) {
        width: 50%;
    }

    @media screen and (min-width: 1000px) {
        width: 80%;
    }
}

.btn-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* Logo Bieb in Bloei*/
.logo-nav img {
    height: 2em;

    @media screen and (min-width: 820px) {
        width: 5em;
    }
}

/* Hamburger knop */
.checkbtn {
    color: var(--text-off-white);
    cursor: pointer;
    display: flex;
    /* checkbtn vult volledige breedte */
    border: none;
    align-self: center;

    @media screen and (min-width: 1000px) {
        display: none;
    }
}

.checkbtn img {
    width: 2.7em;
    background-color: #fff;
}

.btn-mail {
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-background-color);
    border: 1px solid var(--highlight-color);
    border-radius: var(--rounded-btn);
}

.btn-mail img {
    height: 1em;
}

.btn-mail:hover {
    background-color: var(--highlight-color);
}

.btn-mail:hover svg {
    background-color: var(--seconday-text-color);
}

/* Menu items */
.header-nav ul {
    list-style-type: none;
    padding: 0 0 100px 0;
    margin: 0em 0em 0em 0em;
    position: fixed;
    top: 80px;
    right: 0%;
    translate: 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transition: all 0.3s;
    z-index: 30;
    background-color: #8B1839;
    color: #fff;

    @media screen and (min-width: 1000px) {
        background-color: #fff;
        position: static;
        width: unset;
        /* width gereset naar eigen waarde */
        height: unset;
        /* height gereset naar eigen waarde */
        translate: 0;
        flex-direction: row;
        gap: 60px;
        padding-bottom: 0;
        margin: 0.3em 0em 0em 0em;
    }
}

.header-nav ul.open {
    translate: 0%;
    padding-bottom: 100px;
}

.header-nav li {
    margin: 10px 0;
    display: flex;
}

#menu a {
    text-decoration: none;
    color: var(--seconday-text-color);

    @media screen and (min-width: 1000px) {
        color: var(--primary-text-color);
    }
}

#menu a:hover {
    color: var(--primary-text-color);

    @media screen and (min-width: 1000px) {
        color: var(--highlight-color);
    }
}

.header-nav a.actief {
    transform: scale(110%);
    transition: 0.2s ease-in-out;
}



/* -------------------------------- Sectie 1 'Amber' --------------------------------- */
.sectie-amber {
    display: flex;
    flex-direction: column;
    gap: 1em;
    z-index: 1;

     @media screen and (min-width: 740px) {
         width: 55%;
         align-self: center;
     }
}

.buttons-amber {
    display: flex;
    flex-direction: row;
    gap: 1em;

}

.element-amber-left {
    position: absolute;
    z-index: 0;
    top: 5.5em;
    right: -10em;
    rotate: 90deg;

     @media screen and (min-width: 740px) {
            top: 5em;
            left: 0;
            rotate: 0deg;
     }
}

.element-amber-right {
    position: absolute;
    display: none;

     @media screen and (min-width: 740px) {
        display: block;
         position: absolute;
         right: 0;
         top: 10em;
     }
}

/* -------------------------------- Sectie 2 'Sprintplanning' --------------------------------- */
.sprintplanning {
    margin-top: 7em;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    margin-top: -10em;
    justify-self: center;

     @media screen and (min-width: 740px) {
         width: 100%;
     }
}

@media (max-width: 1000px) {
    .cards li:nth-child(4) {
        display: none;
    }
}

@media (max-width: 740px) {
    .cards li:nth-child(3) {
        display: none;
    }
}

@media (max-width: 740px) {
    .cards li:nth-child(2) {
        display: none;
    }
}

/* Content */
.sprintplanning h2 {
    padding-top: 2em;
}

.sprintplanning p {
    padding: 1em 0em;
    text-align: center;
}

/* Slider */
.timeline {
    list-style-type: none;
    display: flex;
    padding: 0;
    text-align: center;
}

.timestamp {
    margin: auto;
    margin-bottom: -20px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.timestamp img {
    padding: 0;
    z-index: 1;
}

/* Slide */
.content-slide {
    padding: 8em 5em 0em 0em;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    border-top: 1px solid var(--primary-background-color);
    position: relative;
    transition: all 200ms ease-in;
}

.content-slide p {
    text-align: left;
}

.swiper-container {
    width: 95%;
    margin: auto;
    overflow-y: auto;
}

.swiper-wrapper {
    display: inline-flex;
    flex-direction: row;
    overflow-y: auto;
    justify-content: center;
}

/* Scrollbar */
/* .swiper-container::-webkit-scrollbar-track {
    background: #ffffffb6;
     border-radius: var(--rounded-btn);
}

.swiper-container::-webkit-scrollbar {
    height: 10px;
}

.swiper-container::-webkit-scrollbar-thumb {
    background: #BF1C4B !important;
     border-radius: var(--rounded-btn);
} */

.swiper-slide {
    text-align: center;
    font-size: 12px;
    width: 300px;
    position: relative;
    padding: 5em 0em 0em 0em;

    @media (min-width: 740px) {
          width: 450px;
    }
    
}

/* ------------------------- Sectie 'Wie' ------------------------- */
.sectie-wie {
    display: flex;
    flex-direction: column;
    gap: 3em;

     @media (min-width: 740px) {
         flex-direction: row;
     }
}

.sectie-wie .cards {
    margin-top: 0em;
    justify-self: center;

    @media screen and (min-width: 740px) {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .cards li:nth-child(2) {
        display: none;
    }
}

.sectie-wie .content {
    display: flex;
    flex-direction: column;
    justify-self: baseline;
    gap: 1em;
}

.content a {
    align-self: start;
}

/* Divider */

.divider-2 {
     margin: 0em 1em 3em 1em;

     @media screen and (min-width: 740px) {
         margin: 0em 1em 7em 1em;
     }

     @media screen and (min-width: 1000px) {
         margin: 0em 2em 7em 2em;
     }

     @media screen and (min-width: 1200px) {
         margin: 0em 2em 6em 2em;
     }
}


/* -------------------------- Footer --------------------------- */
/* Footer */
footer {
    display: flex;
    flex-direction: column;
    background-color: #F2DEAB;
    padding: 3em 1em 3em 1em;
    gap: 30px;
    border-radius: 20px 20px 0px 0px;
    z-index: 30;

    @media screen and (min-width: 740px) {
        flex-direction: row;
        padding: 4em 3em 7em 3em;
        justify-content: space-between;
    }

    @media screen and (min-width: 1000px) {
        padding: 5em 6em 5em 6em;
    }

    @media screen and (min-width: 1200px) {
        padding: 5em 8em 5em 8em;
        ;
    }
}

/* Logo Bieb in Bloei */
footer figure {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: 740px) {
        width: 33.3%;
    }
}

/* Menu items */
footer h3 {
    font-size: 1.4em;
    padding-bottom: 1em;
}

.menu ul {
    list-style-type: none;
    padding: 0em 1em 0em 0em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}


@media screen and (min-width: 740px) {
    .menu {
        width: 15%;
    }
}

@media screen and (min-width: 740px) {
    .samenwerken {
        width: 33.3%;
    }
}
















/* Algemene stijlen */
.sprint-planning {
    padding: 2em;
}

.sprint-planning .section-title {
    text-align: center;
    margin-bottom: 1em;
}

.sprint-planning .section-description {
    text-align: center;
    margin-bottom: 2em;
}

/* Planning Cards */
.planning-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
    list-style: none;
    padding: 0;
}

.card {
    width: calc(50% - 1em);
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    border-radius: 0.5em;
}

/* Slider */
.slider {
    margin: 2em 0;
}

.slider-wrapper {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 1em;
    padding-bottom: 1em;
}

.slide {
    min-width: 80%;
    scroll-snap-align: start;
    border: 1px solid var(--primary-bg);
    padding: 2em;
    border-radius: 0.5em;
    background: var(--secondary-bg);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.slide-header img {
    margin-bottom: 1em;
    width: 40px;
    height: auto;
}

.slide-body {
    text-align: left;
}

.slide-title {
    margin-bottom: 1em;
    font-size: 1.5em;
}

.slide-description {
    margin-bottom: 1em;
    font-size: 1em;
}

/* Buttons */
.btn {
    padding: 0.5em 1em;
    border-radius: 0.25em;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.btn-red {
    background-color: va;
    color: white;
}

.btn-white {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
}

.icon-arrow {
    margin-left: 0.5em;
}


/* ---------------------------------------------- I love web ------------------------------------------------ */

/* TAB CONTAINER STYLES */
.tab-container {
    width: 100%;
}

/* TAB BUTTON STYLES */
.tabs {
    display: flex;
    gap: 0.5em;
    padding: 10px 0;
    justify-content: center;
}

.tab-link {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0.8em 1.5em 0.8em 1.5em;
    border-radius: var(--rounded-btn);
    border: 1px solid var(--highlight-color);
    color: var(--highlight-color);
}

.tab-link:hover {
        background-color: var(--highlight-color);
        color: var(--secondary-text-color);
}

.tab-link.active {
    background-color: var(--highlight-color);
    color: var(--secondary-text-color);
}

.tab-content.active {
    display: block;
}



/* TAB CONTENT STYLES (UPDATED FOR FADE EFFECT) */
.tab-content {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, height 0s ease 0.5s;
    display: none;
}

.tab-content.active {
    opacity: 1;
    height: auto;
    transition: opacity 0.5s ease, height 0s;
    padding-top: 1em;
     display: flex;
     flex-direction: column;

        @media screen and (min-width: 740px) {
               flex-direction: row;
               gap: 1em;
               width: 100%;
        }

}

.nav-wrapper {
    width: 100%;
     @media screen and (min-width: 740px) {
         width: 25%;
     }
}

.nav-weken {
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 1em;

    @media screen and (min-width: 740px) {
        width: 100%;
    }
}

.week {
    display: flex;
    flex-direction: column;
    width: 100%;

     @media screen and (min-width: 740px) {
             width: 70%;
     }
}

.dagen {
    @media screen and (min-width: 740px) {
        width: 100%;
    }
}

/* Dag */
.dag {
    border: 1px solid #8B1839;
    padding: 2em;
    margin: 1em 0em;
    display: flex;
    flex-direction: column;
    gap: 1em;

      @media screen and (min-width: 740px) {
              margin-top: 0em;
      }

}

.dag .datum {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.img-dag {
    width: 100%;
    object-fit: cover;
      height: 40vh;

      @media screen and (min-width: 740px) {
             height: 55vh;
               width: 65%;
      }
}

.datum-dag {
    display: flex;
    flex-direction: row;
    gap: 0.4em;
    padding: 0em 0em 0.4em 0em;

     @media screen and (min-width: 740px) {
             padding: 0em 0em 1.5em 0em;
     }
}
